.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

:host {
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}
