<header>
    <app-logo></app-logo>
    <div class="header__user-details">
        <div class="user-details__login">
            <img alt="User Icon" src="../../../../assets/img/ic-user.svg" class="user-details__user-icon">
            <span>
                {{user}}
            </span>
        </div>

        <button class="user-details__button">
            <img alt="Logout Icon" src="../../../../assets/img/ic-exit.svg" class="user-details__logout-icon">
            <span>
                Log off
            </span>
        </button>

    </div>
</header>
