<div class="courses-list">
    <app-search></app-search>
<!--    @TODO: get rid of two subscriptions to courses$-->
<!--    @TODO: and why ngif didn't worked with ng-template -->
    <ng-container *ngIf="(courses$ | async).length; else noCoursesFound">
        <app-course
            *ngFor="let course of courses$ | async"
            [course]="course"
            (removeItem)="onNotify($event)"
        ></app-course>
        <div class="message-container">
            <button (click)="loadMore()">Load More</button>
        </div>
    </ng-container>
    <ng-template #noCoursesFound>
        <div class="message-container">
            {{"no data. feel free to add new course" | uppercase}}
        </div>
    </ng-template>
</div>
