<div class="search-form-wrapper">
    <form class="search-form" novalidate>
        <div class="search-input__wrapper">
            <span class="fa fa-search"></span>
            <input type="text" name="searchValue" id="search" class="search-form__input" placeholder="Text to search" (keyup)="onKeyup($event)">

        </div>
    </form>
    <div class="search-form__add-course">
        <button class="btn btn__add-course" [routerLink]="['/courses', 'new']" ><i class="fa fa-plus"></i> Add course</button>
    </div>
</div>
