.breadcrumbs {
    height: 64px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-weight: 600;

}

.breadcrumbs-data {
    padding-top: 20px;
    padding-left: 85px;
}
