input, textarea {
    font-family: "Source Sans Pro", sans-serif;
}

.edit-course-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-height: 100%;
    height: 100%;
}

.edit-course-container {
    align-self: center;
    width: 731px;
    height: 590px;
    border-radius: 8px;
    box-shadow: 0 1px 24px 0 rgba(18, 21, 35, 0.08);
    background-color: #ffffff;
}

:host {
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

h3 {
    margin-left: 24px;
    margin-top: 24px;
}

